@import 'reset';
@import 'vars';

/* stylelint-disable */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* stylelint-enable */

html {
  background-color: var(--bg-color);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  margin: 2rem;
}

header {
  margin: 2rem 0;
}

h1 {
  color: white;
  font-size: 5rem;
  text-align: center;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  margin-bottom: 5rem;
}

h2 {
  font-size: 1.2rem;
  margin: 1.5rem 0;
  text-transform: uppercase;
  color: var(--light);
}

.intro {
  font-size: 2rem;
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

.title {
  width: 96rem;
}

.gif-generator {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 96rem;
}

.hiddencanvas {
  display: none;
}

.testcanvas {
  width: 50rem;
}

.edit {
  width: 40rem;
  margin-left: 2rem;
  color: white;
  padding: 2rem;
  border: 2px solid #424242;

}

.testwebcam {
  width: 50rem;
}

.image-frame {
  width: 50rem;
}

.manipulation {
  border: solid 2px black;
  border-radius: 5px;
  width: 40rem;
}

.button-group {
  margin-top: 2rem;
}

.smart-animation {
  width: 96rem;
  margin-bottom: 2rem;
}

.big-button {
  border: solid 2px white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1rem;
  color: white;
}

.big-button:hover {
  background-color: white;
  color: black;
}

.text-effect {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  cursor: pointer;
}

.color-group {
  display: flex;
}

.text-color-red {
  background-color: red;
  height: 30px;
  margin-right: 20px;
  width: 30px;
}

.text-color-blue {
  background-color: blue;
  height: 30px;
  margin-right: 20px;
  width: 30px;
}

.text-color-green {
  background-color: green;
  height: 30px;
  margin-right: 20px;
  width: 30px;
}

.text-color-yellow {
  background-color: yellow;
  height: 30px;
  margin-right: 20px;
  width: 30px;
}
